.navbar-custom {
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, .7);
        }
        
        @media(max-width: 850px){
            .banner{
                min-height: 420px;
            }
        }

/*#myBtn { 
  position: fixed; 
  bottom: 20px;  
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #009BDB; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 30px; 
  font-size: 18px;    
    
}

#myBtn:hover {
  background-color: #FF00FF; 

}*/
.jumbotron {  
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-color: transparent;
    height: 900px;    
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
#quemsomos, #sejaummultiplicador, #duvidas{
    padding-top: 80px;
}